<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwQzjMVOz-9tks2Qy3L3Ws5DS1R56L_Zg</string>
	<key>GCM_SENDER_ID</key>
	<string>213730493900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobapps.com</string>
	<key>PROJECT_ID</key>
	<string>pascocustomer</string>
	<key>STORAGE_BUCKET</key>
	<string>pascocustomer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213730493900:ios:8c4b565b1d4bfa37258969</string>
</dict>
</plist>